.contian{
  width: 1090px;
  margin: 0 auto;
}
/* 精灵图 */
/* .icons1{
  display: inline-block;
  background: url(../img/jinglingtu/icons1.png);
}
.icons2{
  display: inline-block;
  background: url(../img/jinglingtu/icons2.png);
}
.icons3{
  display: inline-block;
  background: url(../img/jinglingtu/icons3.png);
} */
/* 网页顶部 */
#top{
  width: 100%;
  height: 36px;
  background: #333333;
  position: relative;
  .inner_top{
    height: 36px;
    line-height: 36px;
    background: #333333;
    .menu_left{
      font-size: 12px;
      float: left;
      a{
      color: #cc9756;
      }
    }
    .menu_right{
      float: right;
      font-size: 12px;
      span{
          display: inline-block;
          width: 1px;
          height: 16px;
          background: #5c5c5c;
          position: absolute;
          top: 11px;
        };
      a{
        color: #afafaf;
        margin:0 10px ;
        
        i{
          display: inline-block;
          border-top: 4px solid  #afafaf;
          border-left: 4px solid  #333333;
          border-right: 4px solid  #333333;
          vertical-align: middle;
          margin-top: -2px;
        }
      }
    }
  }
}

/* 网页头部 */
#header{
  height: 106px;
  background: #ffffff;
  h2{
    height: 106px;
    overflow: hidden;
    float: left;
    a{
      background: url(../img/icons3.png) no-repeat;
      width: 210px;
      height: 51px;
      background-position: -1px -303px;
      margin: 29px 164px 0 1px;
      text-indent: -9999px;
      float: left;
    }
  }    
    form{ 
      float: left;
      width: 532px;
      height: 38px;
      border: 1px solid #cc9857;
      border-radius: 19px;
      overflow: hidden;
      margin-top: 26px;
      position: relative;
      .txt{
        width: 440px;
        height: 36px;
        float: left;
        border: 0;
        font-size: 14px;
        color: #999999;
        line-height: 36px ;
        text-indent: 37px;
      } 
      .sub{
        width: 90px;
        height: 36px;
        float: left;
        border: 0;
        background: #cc9857;
        font-size: 16px;
        color: #ffffff;
        line-height: 36px;
        cursor: pointer;
      }
      span{
        position: absolute;
        top: 12px;
        left: 18px;
        background: url(../img/icons3.png) no-repeat;
        width: 14px;
        height: 14px;
        background-position: 0 -518px;
      }
    }
  
  .shop{
    width: 134px;
    height: 38px;
    border: 1px solid #cc9857;
    border-radius: 19px;
    float: right;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    color:  #cc9857;
    margin-top: 26px;
    position: relative;
    cursor: pointer;
    span{
      position: absolute;
      top: 7px;
      left: 19px;
      background: url(../img/icons3.png) no-repeat;
      width: 19px;
      height: 22px;
      background-position: -1px -81px;
    }
    i{
      position: absolute;
      width: 20px;
      height: 20px;
      background: #d22a28;
      border-radius: 50%;
      top: 10px;
      right: 16px;
      line-height: 20px;
    }
  }
}

/* 网页导航 */
#nav{
  height: 34px;
  background: #ffffff;
  margin-bottom: 3px;
  ul{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    li{
      font-size: 14px;
      color: #000000;
      font-weight: 600;
      line-height: 34px;
      cursor: pointer;
    }
    li:hover{
      color: #cc9756;
      border-bottom: 3px solid #cc9756;
    }
  }
}


/* 广告图 */
#banner{
  width: 1920px;
  height: 420px;
  margin-bottom: 14px;
}

/* 主体内容 */
#main{
  width: 100%;
  position: relative;
  /* 公共样式区 */
      .H3{
        height: 64px;
      }
      .sp{
        color: #333333;
        line-height: 64px;
        font-size: 28px;
        cursor: pointer;
        margin-right: 20px;
        float: left;
        font-weight: 600;
      }
      .iii{ 
        color: #333333;
        font-size: 14px;
        float: left;
        margin-top: 8px;
      }
      .aaa{
        color: #333333;
        line-height: 56px;
        font-size: 14px;
        float: right;
        margin-top: 8px;
      }
      .h3a{
        font-size: 13px;
        font-weight: 600;
        display: block;
        width: 166px;
        margin: 0 auto;
        text-align: center;
      }
      .ppp{
        color: red;
        text-align: center;
      }
      .bigshop{
        display: flex;
        justify-content: space-between;
        .shop1{
          width: 265px;
          height: 365px;
          position: relative;
          .imgds{
            display: block;
            position: absolute;
            z-index: 10;
          }
          .imgcon{
            position: relative;
          }
          a{
          line-height: 20px;
          }
          img{
            width: 265px;
            height: 265px;
            background: #f4f4f4;
            margin-bottom: 31px;
            cursor: pointer;
          }
        }
        .shop1:hover{
          background: #f4f0ea;
        }
        .shop1:hover .imgds{
          display: none;
        }
        a:hover{
          color: #cc9756;
        }
      }
      /* 悬浮窗 */
  .indexSideBar{
    // height: 364px;
    width: 110px;
    border: 1px solid #cc9756;
    // position: fixed;

    ul{
      .SideBar_top{
        margin: 0;
        text-align: center;
        font-size: 16px;
        line-height: 36px;
        color: #bb3343;
        font-weight: 600;
      }
      .bd{
        border: 0;
      }
      li{
        height: 36px;
        border-bottom: 1px solid #cc9756;
        margin: 0 9px;
        span{
          display: table-cell;
          line-height: 14px;
          font-size: 12px;
          color: #333333;
          padding-left: 36px;
          font-weight: 600;
        }
        img{
          width: 36px;
          height: 36px;
          position: absolute;
        }
        
      }
      li:hover a span{
        color: #bb3343;
      }
    }
  }
      /* 内容 */
  .first{
    margin-bottom: 98px;
    h3{
      overflow: hidden;
      span:hover,a:hover{
        color: #cc9756;
      }
      i{
        line-height: 56px;
      }
    }
    
  }
  .layout{
    width: 100%;
    background: #f4f0ea;
    padding-top: 45px;
    .rqimg{
      display: block;
      margin: 0 auto ;
    }
  }
  .stmt{
    display: flex;
    justify-content: space-between;
  }
  .sentiment{
    overflow: hidden;
    height: 738px;
    h3{
      height: 64px;
      overflow: hidden; 
      span:hover,a:hover{
        color: #cc9756;
      }
      i{
        margin-top: 26px;
        display: inline-block;
        width: 70px;
        text-align: center;
        cursor: pointer;
        margin-right: 50px;
      }
      i:hover{
        color: #cc9756;
        border-bottom: 2px solid #cc9756;
      }
    }
    .stmt_left{
      background: #ffffff;
      width: 390px;
      height: 570px;
      float: left;
      div{
          width: 390px;
          height: 400px;      
          border-bottom: 1px solid #f4f0ea;
          margin-bottom: 44px;
          cursor: pointer;
          img{
            padding-top: 40px;
            width: 320px;
            height: 320px;
          }
      }
      a{
        line-height: 38px;
      }
      a:hover{
        color: #cc9756;
      }
    }
    .stmt_right{
      width: 690px;
      height: 570px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .pop{
        width: 223px;
        height: 280px;
        background: #ffffff;
      }
      div{
        width: 223px;
        height: 180px;      
        border-bottom: 1px solid #f4f0ea;
        margin-bottom: 10px;
        img{
          cursor: pointer;
        }
      }
      a{
        line-height: 24px;
        margin-top: 33px;
      }
      a:hover{
        color: #cc9756;
      }
    }
  }
  .limit{
    height: 490px;
    span:hover,a:hover{
      color: #cc9756;
    }
    .limit_left{
      width: 224px;
      height: 427px;
      float: left;
    }
    .limit_right{          
      border-top: 1px solid #f4f0ea; 
        width: 8px;
        height: 427px;
      float: left;
      .limitimg{
        height: 212px;
        width: 433px;
        border-right: 1px solid #f0ece4; 
        border-bottom: 1px solid #f0ece4; 
        img{
        float: left;
       }
        div{
          float: left;
          padding-top: 14px;
          height: 212px;

          span{
            color: #333333;
            font-size: 14px;
            line-height: 26px;
          }
          p{
            font-size: 12px;
            color: #999999;
            line-height: 24px;
          }
          strong{
            color: #be4141;
            font-size: 14px;
            line-height: 26px; 
          }
          div{
            width: 118px;
            height: 31px;
            background: #be4141;
            color: #ffffff;
          }
        }
      }
    }
  }
  .Hei{
    height: 524px;
  }
  .boon{
    margin-bottom: 48px;
    background: #f4f0ea;
    h3{
      span:hover,a:hover{
        color: #cc9756;
      }
    }
    .surprise{
      background: #ffffff;
      height: 376px; 

      .sp_left{
        margin-right: 19px;
        width: 224px;
        height: 376px; 
        float: left;
        a{
        img{
          width: 224px;
          height: 376px; 
        }
        }
      }
      .sp_content{
        height: 376px;
        width: 588px;
        float: left;
        border-right: 1px solid #cc9756;
        margin-right: 22px;
        h3{
          border-bottom: 1px solid #cc9756;
          margin-bottom: 20px;
          span{
            line-height: 56px;
            font-size: 16px;
          }
          a{
            font-size: 12px;
          }
          a:hover{
            color: #cc9756;
          }
        }
        .flshop{
          width: 266px;
          float: left;
          a{
            width: 130px;
            height: 130px;
            float: left;
            margin-right: 10px;
            img{
              width: 130px;
              height: 130px;
              background: #fbf9f6;
            } 
          }
          div{
            width: 126px;
            height: 130px;
            padding-top: 8px;
            float: left;
            span{
              font-size: 14px;
              line-height: 20px;
              color: #333333;
            }
            p{
              font-size: 14px;
              line-height: 24px;
              color: #be4141;
              padding-bottom: 22px;
              i{
              font-size: 20px;
              font-weight: 600;
              }
            }
            div{
              width: 90px;height: 28px;
              font-size: 12px;
              color: #ffffff;
              background: #be4141;
              text-align: center;
              line-height: 28px;
              padding: 0;
            }
          }
        }
      }
      .sp_right{
        padding-top: 10px;
        padding-right: 20px;
        .sp_inner{
          height: 181px;
        }
        h3{
          span{
            font-size: 16px;
            color: #333333;
            line-height: 36px;
          }
          a{
            line-height: 36px;
            margin-top: 0;
          }
        }
        .spshop{
          height: 50px;
          margin-bottom: 20px;
          a{
            width: 50px;
            height: 50px;
            float: left;
            margin-right: 20px;
            img{
              width: 50px;
              height: 50px;
              background: #fbf9f6;
            } 
          }
          span{
            font-size: 14px;
            line-height: 24px;
            color: #333333;
          }
          p{
            height: 20px;
            margin-top: 5px;
            font-size: 14px;
            line-height: 20px;
            color: #be4141;
            overflow: hidden;
            i{
              float: left;
            }
            a{
              float: right;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              background: #f7efeb;
              background: url(../img/icons3.png) no-repeat;
              background-position: 0 -174px;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .homelift{
    h3{
      span:hover,a:hover{
        color: #cc9756;
      }
      a{
      margin-left: 18px;
    }
    ul{
          float: right;
        li{
            float: left;
          a{
            margin: 8px 12px 0;
        }
      }
      span{
        float: left;
        line-height: 56px;
        color: #333333;
        font-size: 14px;
        margin-top: 8px;
      }
    }
    
    }
    a{
      img{
        width: 1090px;
        height: 310px;
        margin-bottom: 20px;
      }
    }
  }
  .pick{
    h3{
      i{
        line-height: 56px;
      }
      span:hover{
        color: #cc9756;
      }
    }
    .news{
      margin-bottom: 80px;
      height: 380px;
      .new_left{
        float: left;
        margin-right: 10px;
      }
      .new_right{
        height: 380px;
        width: 390px;
        float: left;
        a{
          display: block;
          margin-bottom: 12px;
        }
      }
    }
  }
  .everyone{
    overflow: hidden;
    h3{
      i{
        line-height: 56px;
      }
      span:hover{
        color: #cc9756;
      }
    }
    .every{
      width: 6000px;
      .eve{
        width: 355px;
        height: 492px;
        position: relative;
        margin-right: 12px;
        background: #ffffff;
          img{
          width: 355px;
          height: 355px;
        }
        .ser{
          position: absolute;
          left: 5px; 
          bottom: 0;
          width: 345px;
          height: 186px;
          padding: 15px 15px 20px 15px;
          background: #ffffff;
          div{
            font-size: 12px;
            color: #999999;
            line-height: 24px;
          }
          p{
            font-size: 16px;
            color: #333333 ;
            line-height: 28px;
            i{
              color: #baa782;
              font-size: 14px;
              float: right;
              margin-right: 15px;
            }
          }
          span{ 
            font-size: 14px;
            color: #333333;
            line-height: 20px;
          }
        }
      }
    }
  }
}


/* 页足 */
#footer{
  background: #ffffff;
  height: 556px;
  width: 100%;
  overflow: hidden;
  .footer_top{
    height: 204px;
    margin-top: 60px;
    margin-bottom: 34px;
    overflow: hidden;
    box-sizing: border-box;
    .fttop1,.fttop2{
      width: 363px;
      height:204px;
      float: left;
      p{
        font-size: 16px;
        line-height: 18px;
        color: #333333;
        text-align: center;
        margin-bottom: 27px;
      }
      .serve{
        overflow: hidden;
        .kf,.fk{
          width: 78px;
          height: 98px;
          border: 1px solid #e8e8e8;
          float: left; 
          padding: 25px 0 0 11px ;
          box-sizing: border-box;
        }
        .kf{
          margin-left: 87px;
          .kfbg{
            margin: 0 0 0 13px;
            display: block;
            background: url(../img/icons1.png) no-repeat;
            text-align: center;
            width: 32px;
            height: 30px;
            background-position: 0 -128px;
            border:0;
            margin-bottom: 13px;
          }
          span{
            font-size: 14px;
            color: #333333;
            text-align: center;
         }
        }
        .fk{
          margin-left: 29px;
          .fkbg{
            margin: 0 0 0 13px;
            display: block;
            background: url(../img/icons2.png) no-repeat;
            text-align: center;
            width: 30px;
            height: 26px;
            background-position: 0 -98px;
            border:0;
            margin-bottom: 17px;
          }
          span{
            font-size: 14px;
            color: #333333;
            text-align: center;
         }
        }
      }
      .sespan{
        display: block;
        font-size: 13px;
        line-height: 24px;
        color: #333333;
        margin:0 38px  27px;
      }
      .lj{
        height: 32px;
        overflow: hidden;
        strong{
          float: left;
          margin:0 0 0 38px;
          font-size: 14px;
          line-height: 32px;
        }
      }
    }
    .fttop1{
      border-right: 1px solid #e9e9e9;
      .g1{
        background: url(../img/icons2.png) no-repeat;
        text-align: center;
        width: 32px;
        height: 32px;
        background-position: 0 -326px;
        float: left;
        margin-left: 16px;
      }
      .g2{
        background: url(../img/icons2.png) no-repeat;
        text-align: center;
        width: 32px;
        height: 32px;
        background-position: 0 -428px;
        float: left;
        margin-left: 16px;
      }
      .g3{
        background: url(../img/icons2.png) no-repeat;
        text-align: center;
        width: 32px;
        height: 32px;
        background-position: 0 -470px;
        float: left;
        margin-left: 16px;
      }
    }
    .fttop2{
      width: 362px;
      .xiazai{
        display: inline-block;
        margin-left: 119px;
        color: #b4a078;
      }
      img{
        margin-left: 129px;
        margin-bottom: 11px;
      }
    }
  }
  .footer_Bottom{
    background: #414141;
    width: 100%;
  }
  .footer_bottom{
    height: 268px;
    background: #414141;
    .msg{
      height: 119px;
      border-bottom: 1px solid #4f4f4f;
      margin-bottom: 18px;
      ul{
        overflow: hidden;
        span{
          line-height: 120px;
          font-size: 18px;
          color: #ffffff;
          float: left;
        }
        .msg1{
          background: url(../img/icons2.png) no-repeat;
          text-align: center;
          width: 50px;
          height: 50px;
          background-position: 0 -134px;
          float: left;
          margin:37px 18px 0 17px;
          cursor: pointer;
        }
        .msg2{
          background: url(../img/icons2.png) no-repeat;
          text-align: center;
          width: 50px;
          height: 50px;
          background-position: 0 -368px;
          float: left;
          margin:37px 18px 0 122px;
        }
        .msg3{
          background: url(../img/icons2.png) no-repeat;
          text-align: center;
          width: 51px;
          height: 50px;
          background-position: 0 0;
          float: left;
          margin:37px 18px 0 122px;
        }
        .msg4{
          background: url(../img/icons2.png) no-repeat;
          text-align: center;
          width: 50px;
          height: 50px;
          background-position: 0 -194px;
          float: left;
          margin:37px 18px 0 122px;
        }
      }
    }
    p{
      text-align: center;
      font-size: 12px;
      color:#999999 ;
      line-height: 28px;
      a{
        text-align: center;
        font-size: 12px;
        color:#999999 ;
      line-height: 30px;
    }
    }
  }
}
 





