/* css reset */
div,a,img,body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font: 14px "微软雅黑",Arial;
    background: #fff;
}
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: normal; /* 取消默认的加粗样式 */
    font-size: 100%;
}
i,em{
    font-style: normal;/* 取消默认的倾斜样式 */
}
li{
    list-style: none;/* 取消默认的项目符号样式 */
}
a{
    color: #333333;
    text-decoration: none; /* 取消默认的下划线样式 */
}
input{
    outline: none; /* 取消默认的选中焦点框样式 */
}
img{
    vertical-align: middle;
}
.clearfix{
     *zoom: 1;/* 解决IE7以下版本的塌陷问题 */
}
.clearfix::after{
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
fieldset{
    border: 0;
}
.mb50{
    margin-bottom: 50px;
}

.contian{
    width: 1090px;
    margin: 0 auto;
  }

#top{
    width: 100%;
    height: 36px;
    background: #333333;
    position: relative;
    .inner_top{
      height: 36px;
      line-height: 36px;
      background: #333333;
      .menu_left{
        font-size: 12px;
        float: left;
        img{
            margin-right: 10px;
        }
        a{
        color: #cc9756;
        }
        a:hover{
        color: #ffffff;
        }
      }
      .menu_right{
        float: right;
        font-size: 12px;
        // width: 459px;
        li{
            float: left;
            text-align: center;
        }
        .line1:hover div,.line2:hover div,.line3:hover div{
            display: block;
        }
        .line1,.line2{
            position: relative;
            div{
                display: none;
                position: absolute;
                left: -2px;
                top: 36px;
                width: 80px;
                background: #ffffff;
                z-index: 100;
                border: solid 1px #dddddd;
                padding: 3px 13px 0;
                a{
                    margin: 0;
                    line-height: 38px;
                    display: block;
                    color: #a6a6c4;
                    border-bottom: 1px solid #dddddd;
                }
                a:hover{
                    color: #cc9756;
                }
                .lasta{
                    border: 0;
                }
                strong{
                    position: absolute;
                    top: -6px;
                    left: 34px;
                    border-bottom: 6px solid  #ffffff;
                    border-left: 5px solid  #333333;
                    border-right: 5px solid  #333333;
                    vertical-align: middle;

                }
            }
        }
        span{
            display: inline-block;
            width: 1px;
            height: 16px;
            background: #5c5c5c;
            position: absolute;
            top: 11px;
          };
        a{
          color: #afafaf;
          margin:0 10px ;
          
          i{
            display: inline-block;
            border-top: 4px solid  #afafaf;
            border-left: 4px solid  #333333;
            border-right: 4px solid  #333333;
            vertical-align: middle;
            margin-top: -2px;
          }
          
        }
        a:hover{
            color: #ffffff;
        }
        .line3{
            position: relative;
            a{
                margin-left: 17px;
            }
            b{
            position: absolute;
            left: 7px;top:14px ;
            background: url(../img/icons3.png) no-repeat;
            text-align: center;
            width: 7px;
            height: 11px;
            background-position: 0 0;
            }
            div{
                display: none;
                position: absolute;
                left: -50px;
                top: 36px;
                width: 137px;
                height: 155px;
                padding: 10px 10px 0 10px;
                z-index: 10;
                background: #ffffff;
                a{
                    margin: 0;
                    
                }
                h5{
                    font-size: 12px;
                    line-height: 24px;
                    color: #b4a078;
                }
                strong{
                    position: absolute;
                    top: -6px;
                    left: 64px;
                    border-bottom: 6px solid  #ffffff;
                    border-left: 5px solid  #333333;
                    border-right: 5px solid  #333333;
                    vertical-align: middle;
                }
            }
            
        }
      }
    }
  }
  
  /* 网页头部 */
  #header{
    height: 106px;
    background: #ffffff;
    h2{
      height: 106px;
      overflow: hidden;
      float: left;
      a{
        background: url(../img/icons3.png) no-repeat;
        width: 210px;
        height: 51px;
        background-position: -1px -303px;
        margin: 29px 164px 0 1px;
        text-indent: -9999px;
        float: left;
      }
    }    
      form{ 
        float: left;
        width: 532px;
        height: 38px;
        border: 1px solid #cc9857;
        border-radius: 19px;
        overflow: hidden;
        margin-top: 26px;
        position: relative;
        .txt{
          width: 440px;
          height: 36px;
          float: left;
          border: 0;
          font-size: 14px;
          color: #999999;
          line-height: 36px ; 
          text-indent: 37px;
          
        } 
        ::placeholder{
            color: #999999;
        }
        .sub{
          width: 90px;
          height: 36px;
          float: left;
          border: 0;
          background: #cc9857;
          font-size: 16px;
          color: #ffffff;
          line-height: 36px;
          cursor: pointer;
        }
        span{
          position: absolute;
          top: 12px;
          left: 18px;
          background: url(../img/icons3.png) no-repeat;
          width: 14px;
          height: 14px;
          background-position: 0 -518px;
        }
      }
    
    .shop{
      width: 134px;
      height: 38px;
      border: 1px solid #cc9857;
      border-radius: 19px;
      float: right;
      text-align: center;
      line-height: 38px;
      font-size: 14px;
      color:  #cc9857;
      margin-top: 26px;
      position: relative;
      cursor: pointer;
      span{
        position: absolute;
        top: 7px;
        left: 19px;
        background: url(../img/icons3.png) no-repeat;
        width: 19px;
        height: 22px;
        background-position: -1px -81px;
      }
      i{
        position: absolute;
        width: 20px;
        height: 20px;
        background: #d22a28;
        border-radius: 50%;
        top: 10px;
        right: 16px;
        line-height: 20px;
      }
    }
  }
  
  /* 网页导航 */
  #nav{
    height: 34px;
    background: #ffffff;
    ul{
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      li{
        font-size: 14px;
        color: #000000;
        font-weight: 600;
        line-height: 31px;
        cursor: pointer;
      }
      li:hover{
        color: #cc9756;
        border-bottom: 3px solid #cc9756;
      }
    }
  }
  .H3{
    height: 64px;
  }
  .sp{
    color: #333333;
    line-height: 64px;
    font-size: 28px;
    cursor: pointer;
    margin-right: 20px;
    float: left;
    font-weight: 600;
  }
  .iii{ 
    color: #333333;
    font-size: 14px;
    float: left;
    margin-top: 8px;
  }
  .aaa{
    color: #333333;
    line-height: 56px;
    font-size: 14px;
    float: right;
    margin-top: 8px;
  }
  .h3a{
    font-size: 13px;
    font-weight: 600;
    display: block;
    width: 166px;
    margin: 0 auto;
    text-align: center;
  }
  .ppp{
    color: red;
    text-align: center;
  }


  #footer{
    background: #ffffff;
    height: 556px;
    width: 100%;
    overflow: hidden;
    .footer_top{
      height: 204px;
      margin-top: 60px;
      margin-bottom: 34px;
      overflow: hidden;
      box-sizing: border-box;
      .fttop1,.fttop2{
        width: 363px;
        height:204px;
        float: left;
        p{
          font-size: 16px;
          line-height: 18px;
          color: #333333;
          text-align: center;
          margin-bottom: 27px;
        }
        .serve{
          overflow: hidden;
          .kf,.fk{
            width: 78px;
            height: 98px;
            border: 1px solid #e8e8e8;
            float: left; 
            padding: 25px 0 0 11px ;
            box-sizing: border-box;
          }
          .kf:hover span,.fk:hover span{
            color: #baa782;
          }
          .kf{
            margin-left: 87px;
              cursor: pointer;
              .kfbg{
              margin: 0 0 0 13px;
              display: block;
              background: url(../img/icons1.png) no-repeat;
              text-align: center;
              width: 32px;
              height: 30px;
              background-position: 0 -128px;
              border:0;
              margin-bottom: 13px;
            }
            span{
              font-size: 14px;
              color: #333333;
              text-align: center;
           }
          }
          .fk{
            margin-left: 29px;
            cursor: pointer;
              .fkbg{
              margin: 0 0 0 13px;
              display: block;
              background: url(../img/icons2.png) no-repeat;
              text-align: center;
              width: 30px;
              height: 26px;
              background-position: 0 -98px;
              border:0;
              margin-bottom: 17px;
            }
            span{
              font-size: 14px;
              color: #333333;
              text-align: center;
           }
          }
        }
        .sespan{
          display: block;
          font-size: 13px;
          line-height: 24px;
          color: #333333;
          margin:0 38px  27px;
        }
        .lj{
          height: 32px;
          overflow: hidden;
          strong{
            float: left;
            margin:0 0 0 38px;
            font-size: 14px;
            line-height: 32px;
          }
        }
      }
      .fttop1{
        border-right: 1px solid #e9e9e9;
        .g1{
          background: url(../img/icons2.png) no-repeat;
          text-align: center;
          width: 32px;
          height: 32px;
          background-position: 0 -326px;
          float: left;
          margin-left: 16px;
        }
        .g2{
          background: url(../img/icons2.png) no-repeat;
          text-align: center;
          width: 32px;
          height: 32px;
          background-position: 0 -428px;
          float: left;
          margin-left: 16px;
        }
        .g3{
          background: url(../img/icons2.png) no-repeat;
          text-align: center;
          width: 32px;
          height: 32px;
          background-position: 0 -470px;
          float: left;
          margin-left: 16px;
        }
      }
      .fttop2{
        width: 362px;
        .xiazai{
          display: inline-block;
          margin-left: 119px;
          color: #b4a078;
        }
        img{
          margin-left: 129px;
          margin-bottom: 11px;
        }
      }
    }
    .footer_Bottom{
      background: #414141;
      width: 100%;
    }
    .footer_bottom{
      height: 268px;
      background: #414141;
      .msg{
        height: 119px;
        border-bottom: 1px solid #4f4f4f;
        margin-bottom: 18px;
        ul{
          overflow: hidden;
          span{
            line-height: 120px;
            font-size: 18px;
            color: #ffffff;
            float: left;
          }
          .msg1{
            background: url(../img/icons2.png) no-repeat;
            text-align: center;
            width: 50px;
            height: 50px;
            background-position: 0 -134px;
            float: left;
            margin:37px 18px 0 17px;
            cursor: pointer;
          }
          .msg2{
            background: url(../img/icons2.png) no-repeat;
            text-align: center;
            width: 50px;
            height: 50px;
            background-position: 0 -368px;
            float: left;
            margin:37px 18px 0 122px;
          }
          .msg3{
            background: url(../img/icons2.png) no-repeat;
            text-align: center;
            width: 51px;
            height: 50px;
            background-position: 0 0;
            float: left;
            margin:37px 18px 0 122px;
          }
          .msg4{
            background: url(../img/icons2.png) no-repeat;
            text-align: center;
            width: 50px;
            height: 50px;
            background-position: 0 -194px;
            float: left;
            margin:37px 18px 0 122px;
          }
        }
      }
      p{
        text-align: center;
        font-size: 12px;
        color:#999999 ;
        line-height: 28px;
        a{
          text-align: center;
          font-size: 12px;
          color:#999999 ;
          line-height: 30px;
        }
        a:hover{
          color: #ffffff;
        }
      }
    }
  }
